.testimonials{
    height: 60vh;
    width: 100%;
    background: linear-gradient(160deg, #F2F2F2 60%, #202020 60%);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-weight: bold !important;
    font-size: 2rem !important;
    color: rgb(32, 32, 32) !important;
}